@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right,  #FFC8C8, #C58E8E, #4F4141, #141010);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #141010c9;
    text-align: center;
    text-shadow: 1px 1px 2px;
}

h2 {
    color: #4F4141;
}

p {
    text-align: justify;
}