@charset "UTF-8";

/*
em html é id = em css é # (so pode um elemento tipo um cpf)
em html é class = em css é . (pode varias classes por elemento)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}

.basico {
    color: #3c805e;
}

.intermediario {
    color: #807f3c;
}

.avancado {
    color: #803c3c;
}